.content-donation {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: pink;
    /* border: solid 3px; */
  }

.placehoderForImage{
    background-color: red ;
    height: 400px;
    width: 400px;
}