.content-donation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    
    /* border: solid 3px; */
}

.img{
    height: 50px;
    width: 50px;
}