<p id="notice"><%= notice %></p>
<div class="top_container">
    <div class="video_container">
        <%= video_tag "beachvid.mp4", :autoplay => true, :loop => true %>
  </div>
    <div class="hero_search_container">

        <%= render 'search' %>
    </div>
</div>
<div class="mid-container">
     <div class="call-to-action">
            <h1> Let's find the right event for you.</h1>
        </div>
    <div class="events-container">  
       
         <div class="types_volunteering_container">
            <div class="vol_images">People</div>
            <div class="vol_images">Animals</div>
            <div class="vol_images">Environment</div>
            <div class="vol_images">Other</div>
            <div class="vol_images">Other</div>
         </div>
    </div>
        <div class="events_list"></div>
    </div>
    <div class="other_content">
    </div>
