<div class="eventViewHeader">
    <h1> Events </h1>
    <div class="viewTypes">
        <div id="thumbnailView">
            <h2>Thumbnail View</h2>
        </div>
        <div id="calendarView">
            <h2>Calendar View </h2>
        </div>
    </div>
</div>

<%
=begin%>
 <%= react_component("Filters") %> 
<%
=end%>

<%= react_component("Events", props: {}, prerender: false) %>
