<div class="banner-container">
    <div class="call_to_action_text">Find a volunteer<br>event</div>
</div>
<div class="top_container">

    <div class="video_container">
        <%= video_tag "beachvid.mp4", :autoplay => true, :loop => true %>
    </div>
    <div class="hero_search_container">

        <%= react_component("Search", { userId: (current_user && current_user.id) }, prerender: false) %>
    </div>
</div>
<div class="mid-container">
    <div class="call-to-action">
        <h1> Let's find the right event for you.</h1>
    </div>

    <div class="main_vol">
        <div class="types_volunteering_container">
            <div class="vol_images"></div>
            <div class="vol_images"></div>
            <div class="vol_images"></div>
            <div class="vol_images"></div>
            <div class="vol_images"></div>
        </div>
    </div>

    <%= react_component("TileSearch", { userId: (current_user && current_user.id) }, prerender: false) %>

</div>
<div class="did_you_know">
    <h1 class="fact_title">Did you know?</h1>
    <div class="stats1">
        <div class="stat_box1"></div>
        <div class="stat_box2">Statistic goes here</div>
    </div>
    <div class="stats2">
        <div class="stat_box3">Statistic goes here</div>
        <div class="stat_box4"></div>
    </div>
    <h1 class="fact_title">Our Impact</h1>
    <div class="our_impact_text">All about our impact</div>

    <footer></footer>