body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  text-align: left;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Shawn {
  width: 45ch;
  height: 45ch;
  margin: 12px;
  background: white;
  border-radius: 5px;
  background-image: url(http://wynpics.herokuapp.com/C36_Headshots/MarcotteShawn.jpg);
  background-size: cover;
  background-position: inherit;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
}

.Shawn:hover {
  box-shadow: 0px 30px 100px -10px #5aad8d;
}

.Rene-text {
  display: flex;
  justify-content: center;
  padding: 5;
}
.Rene {
  width: 45ch;
  height: 45ch;
  margin: 12px;
  background: white;
  border-radius: 5px;
  background-image: url(http://wynpics.herokuapp.com/C36_Headshots/BreslauerRene.jpg);
  background-size: cover;
  background-position: inherit;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
}

.Rene:hover {
  box-shadow: 0px 30px 100px -10px #5aad8d;
}
.Jose {
  width: 45ch;
  height: 45ch;
  margin: 12px;
  background: white;
  border-radius: 5px;
  background-image: url(http://wynpics.herokuapp.com/C36_Headshots/RangelJose.jpg);
  background-size: cover;
  background-position: inherit;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
}

.Jose:hover {
  box-shadow: 0px 30px 100px -10px #5aad8d;
}
.Carolina {
  width: 45ch;
  height: 45ch;
  margin: 12px;
  background: white;
  border-radius: 5px;
  background-image: url(http://wynpics.herokuapp.com/C36_Headshots/KleinCarolina.jpg);
  background-size: cover;
  background-position: inherit;
  box-shadow: 0px 10px 30px -5px #5aad8d;
  transition: box-shadow 0.5s;
  will-change: transform;
}

.Carolina:hover {
  box-shadow: 0px 30px 100px -10px #5aad8d;
}

.linkedin-logo {
  height: 42px;
  width: 42px;
  padding: 3px;
}
.linkedin-logo:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
.github-logo {
  height: 35px;
  width: 35px;
  margin: 5px;
  border-radius: 10%;
  margin-top: 5.5px;
}
.github-logo:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.about_bio {
  height: 180px;
}

.bio_container {
  margin-left: 2px;
  margin-right: 2px;
}

@media only screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
