/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* /* 
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self 
  */

* {
  font-family: 'Baloo Chettan 2', cursive;
}
html,
body {
  height: 100%;
  width: 100%;
}

.marginTop {
  margin-top: 80px;
}

.navbar-expand-lg {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: white;
  width: 100%;
  height: 70px;
}

.navbar-expand-lg a {
  color: black;
}

.events_button {
  border-radius: 50px 50px 50px 50px;
  width: 100px;
}

.top_container {
  display: flex;
  justify-content: center;
}

.video_container {
  display: flex;
  justify-content: center;
}

video {
  height: 100%;
  position: fixed;
  z-index: -999;
}

.events-container {
  display: flex;
  justify-content: space-between;
  direction: column;
  background-color: white;
  width: 100%;
  z-index: 0;
}

.call-to-action {
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 20px;
  padding-top: 50px;
}

.hero_search_container {
  display: flex;
  direction: row;
  justify-content: center;
  margin-top: 30%;
  position: absolute;
}

.call_to_action_text {
  justify-self: flex-start;
  margin-top: 100px;
  color: white;
  font-family: 'Bree Serif', serif;
  font-size: 3.5rem;
  z-index: -1;
  position: absolute;
  margin-left: 10%;
}

.search_submit {
  background-color: black;
  color: white;
  border-radius: 0px 100px 100px 0px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  margin-right: 0px;
  float: right;
  height: 40px;
  box-shadow: black 2px;
}

.search_form {
  border: 1px solid grey;
  border-right: none;
  margin: none;
  float: left;
  height: 40px;
  width: 150px;
}

.search_form_city {
  border: 1px solid grey;
  border-right: none;
  margin: none;
  float: left;
  border-radius: 100px 0 0 100px;
  height: 40px;
  width: 120px;
}

.search_form_city:focus {
  outline: none;
}

.search_form:focus {
  outline: none;
}

.types_volunteering_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: row;
  width: 100%;
  margin-right: 2%;
  margin-left: 2%;
}

.vol_images {
  background-color: grey;
  height: 100px;
  width: 100px;
}
.vol_text {
  display: flex;
  justify-content: space-between;
  direction: row;
  width: 100%;
  margin-right: 2%;
  margin-left: 2%;
  text-align: center;
}

.vol {
  text-align: center;
  width: 100px;
}
.vol_text_container {
  display: flex;
  justify-self: center;
}
.main_vol {
  display: flex;
  justify-self: center;
}
.events_list {
  background-color: white;
  width: 1000px;
}

.mid-container {
  margin-top: 40%;
  background-color: white;
}
.other_content {
  height: 900px;
  background: white;
}
.search_form_city {
  background-image: url('map_icon');
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 10pt;
  padding-left: 30px;
}

.term.search_form_city {
  margin-left: 20px;
}

input.search_form_city {
  padding-left: 50px;
}

input.search_form {
  padding-left: 30px;
}

.account_icon {
  transform: scale(2);
  padding-left: 2px;
}

.account_button {
  width: 20px;
  border: none;
}

.account_button:focus {
  outline: none;
}

.account_button:hover {
  transform: image-url('account_icon_hover');
}

.navbar-toggler {
  color: black;
  width: 20px;
}

.did_you_know {
  background-color: white;
}
.fact_title {
  padding-top: 50px;
  padding-bottom: 30px;
  margin-left: 2%;
}
.stats1 {
  display: flex;
  justify-self: center;
}
.stat_box1 {
  height: 300px;
  background-color: grey;
  width: 50%;
  margin-left: 2%;
}
.stat_box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: white;
  width: 50%;
  margin-left: 2%;
}
.stats2 {
  display: flex;
  justify-self: center;
  margin-top: 20px;
}
.stat_box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: white;
  width: 50%;
  margin-left: 2%;
}
.stat_box4 {
  height: 300px;
  background-color: grey;
  width: 50%;
  margin-right: 2%;
}
.our_impact_text {
  margin-right: 100px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: grey;
  margin-right: 2%;
  margin-left: 2%;
}

/* users/sign-in */

.authentication_body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.authentication_image {
  width: 500px;
  height: 500px;
  background-color: grey;
  margin-right: 2%;
}
.authentication_container {
  margin-left: 2%;
}
/* event filters */

.active_filter_button {
  width: 120px;
  height: 30px;
  border-radius: 20px;
  background: url('close') no-repeat;
}
