/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* /* 
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self 
  */

* {
  font-family: 'Baloo Chettan 2', cursive;
}
html,
body {
  height: 100%;
  width: 100%;
}

.marginTop {
  margin-top: 80px;
}
.navbar-expand-lg {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: white;
  width: 100%;
  height: 70px;
}

.navbar-expand-lg a {
  color: black;
}
.nav_logo_image {
  width: 250px;
}
.events_button {
  border-radius: 50px 50px 50px 50px;
  width: 100px;
}

.top_container {
  display: flex;
  justify-content: center;
}
.video_container {
  display: flex;
  justify-content: center;
}

video {
  height: 100%;
  position: fixed;
  z-index: -999;
}
.vol_home_button {
  background-color: #5aad8d;
  padding: 5px;
  border: none;
  border-radius: 50px;
}

.vol_home_button:hover {
  background-color: grey;
}
.events-container {
  display: flex;
  justify-content: space-between;
  direction: column;
  background-color: white;
  width: 100%;
}

.call-to-action {
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 20px;
  padding-top: 50px;
}

.hero_search_container {
  display: flex;
  direction: row;
  justify-content: center;
  margin-top: 30%;
  position: absolute;
}
.test {
  font: 300;
}
.call_to_action_text {
  justify-self: flex-start;
  margin-top: 100px;
  color: white;
  font-family: 'Bree Serif', serif;
  font-size: 3.5rem;
  z-index: -1;
  position: absolute;
  margin-left: 10%;
}

.search_submit {
  background-color: #5aad8d;
  color: white;
  border-radius: 0px 100px 100px 0px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  margin-right: 0px;
  float: right;
  height: 38px;
  box-shadow: black 2px;
}

.search_submit:hover {
  outline: none;
}

.search_form {
  border-radius: 0px;
  border: 1px solid grey;
  border-right: none;
  margin: none;
  float: left;
  height: 40px;
  width: 150px;
}

.search_form_cty {
  border: 1px solid grey;
  border-right: none;
  margin: none;
  float: left;
  border-radius: 0px;
  height: 40px;
  width: 120px;
}

.search_form_cty:focus {
  outline: none;
}

.css-2b097c-container {
  border-radius: 0px !important;
  border: none !important;
}

.css-yk16xz-control {
  border-radius: 0px !important;
}
.css-yk16xz-control:focus {
  outline: none !important;
}

.css-1wa3eu0-placeholder:focus {
  outline: none !important;
}

.search_form:focus {
  outline: none !important;
}

.search_form_cty:active {
  outline: none !important;
}
.search_form:active {
  outline: none !important;
}
.types_volunteering_container {
  width: 100%;
  margin-right: 15%;
  margin-left: 15%;
}
.vol_container_row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.vol_container_row2 {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.vol_images {
  max-height: 200px;
  max-width: 200px;
}

.animals_vol_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.environment_vol_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.youth_vol_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.people_vol_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rebuild_vol_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.all_vol_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vol_text {
  display: flex;
  justify-content: space-between;
  direction: row;
  width: 100%;
  margin-right: 2%;
  margin-left: 2%;
  text-align: center;
  font-size: 14px;
  padding-top: 5px;

  color: white;
  font-weight: bold;
}

.vol_text a {
  text-decoration: none;
  color: white;
}

.vol {
  text-align: center;
  width: 100px;
}
.vol_text_container {
  display: flex;
  justify-self: center;
}
.main_vol {
  display: flex;
  justify-self: center;
}
.events_list {
  background-color: white;
  width: 1000px;
}

.mid-container {
  margin-top: 40%;
  background-color: white;
}
.other_content {
  height: 900px;
  background: white;
}
.search_form_city {
  background-image: url('map_icon');
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 10pt;
  padding-left: 30px;
}

.term.search_form_city {
  margin-left: 20px;
}

input.search_form_city {
  padding-left: 50px;
}

input.search_form {
  padding-left: 30px;
}

.account_icon {
  width: 30px;
}

.account_button {
  width: 1px;
  border: none;
  margin-right: 30px;
  margin-left: 10px;
}

.account_button:focus {
  outline: none;
}

.events_button {
  background-color: #5aad8d;
  color: white;
}

.events_button a {
  color: white;
}

.account_button:hover {
  transform: image-url('account_icon_hover');
}

.navbar-toggler {
  color: black;
  width: 20px;
}

.did_you_know {
  background-color: white;
}
.fact_title {
  padding-top: 50px;
  padding-bottom: 30px;
  margin-left: 2%;
}
.stats1 {
  display: flex;
  justify-self: center;
}
.stat_box1 {
  height: 300px;
  background-color: grey;
  width: 50%;
  margin-left: 2%;
}
.stat_box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: white;
  width: 50%;
  margin-left: 2%;
}
.stats2 {
  display: flex;
  justify-self: center;
  margin-top: 20px;
}
.stat_box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: white;
  width: 50%;
  margin-left: 2%;
}
.stat_box4 {
  height: 300px;
  background-color: grey;
  width: 50%;
  margin-right: 2%;
}
.our_impact_text {
  margin-right: 100px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: grey;
  margin-right: 2%;
  margin-left: 2%;
  align-items: baseline;
}

/* users/sign-in */

.authentication_body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: baseline;
}
.authentication_image {
  width: 500px;
  height: 430px;
}
.authentication_container {
  margin-left: 2%;
}
/* event filters */

.active_filter_button {
  width: 120px;
  height: 30px;
  border-radius: 20px;
  background: url('close') no-repeat;
}

/* Event page */

.hero_image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url('events_hero');
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

.filters_bar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  position: absolute;
  width: 800px;
  height: 100px;
  background-color: white;
  -webkit-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.64);
  padding-right: 20px;
  padding-left: 20px;
}
/* Event cards */

.cards_container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  overflow: hidden;
}
.card_event_date {
  font-size: 10px;
  text-align: left;
  padding-left: 10px;
  height: 10px;
}
.card_event_name {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  overflow: hidden;
}
.card_event_city {
  font-size: 10px;
  text-align: left;
}

.card_footer {
  bottom: 0;
  padding-bottom: 10px;
  padding-left: 10px;
}

.card_back_footer {
  bottom: 0;
}
.card_event_about {
  height: 170px;
  font-size: 12px;
  overflow: hidden;
  padding: 10px;
}
.card {
  width: 200px;
  height: 250px;
  margin: 10px;
  border-radius: 0px;
  border: none;
  background-color: none;
  -webkit-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.64);
}
.flip-card-back {
  background-color: #5aad8d;
  color: white;
}
.card_text {
  padding: 10px;
}
.card:hover {
  cursor: pointer;
}

.view_state {
  background: green;
}

.view_button {
  font-size: 12px;
  padding-right: 10px;
}

.event-card-photo {
  height: 150px;
  overflow: hidden;
}

.resized-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.filter_button {
  padding: 10px;
}
.button {
  border: none;
}

#thumbnailView {
  background: none;
  border: none;
}
#thumbnailView:active {
  border-bottom: 4px solid #5aad8d;
  outline: none;
  padding-bottom: 0px;
}
#thumbnailView:hover {
  outline: none;
}
#calendarView:hover {
  outline: none;
}
#calendarView {
  background: none;
  border: none;
}
#calendarView_select {
  border: none;
  border-bottom: 4px solid#5aad8d;
  padding-bottom: 0px;
}
#thumbnailView_select {
  border: none;
  border-bottom: 4px solid#5aad8d;
  padding-bottom: 0px;
}
#calendarView:active {
  border-bottom: 4px solid#5aad8d;
  outline: none;
  padding-bottom: 0px;
}
/* modal */
.modal-header {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  border: none;
}
.modal-header-top {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: 10px;
}
.modal-header-mid {
  display: flex;
  align-items: center;
  font-size: 30px;
  height: 300px;
  overflow: hidden;
}

.modal-footer {
  border-top: 1px solid grey;
}

.modal_main_photo {
  height: 300px;
  width: 300px;
  padding: 0px;
}

.modal_body_photos {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.modal_photo_1 {
  width: 288px;
  height: 94px;
  margin: 5px;
}

.modal_photo_2 {
  width: 288px;
  height: 94px;
  margin: 5px;
}
.modal_photo_3 {
  width: 288px;
  height: 94px;
  margin: 5px;
}
.modal-header-bottom {
  width: 100%;
}
.modal-content {
  height: 700px;
  width: 600px;
}
.modal-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}
.modal-col-1 {
  width: 50%;
  padding: 10px;
  margin-left: 10px;
  height: 100%;
}
.modal-col-2 {
  background-color: none;
  width: 50%;
  border-left: 1px solid grey;
  padding: 10px;
  margin-right: 10px;
  height: 100%;
}
.modal_about_event {
  font-size: 16px;
  padding: 5px;
  font-weight: bold;
}
.modal_about_event_text {
  font-size: 10px;
  padding-left: 5px;
}
.modal_more_info {
  font-size: 16px;
  padding: 5px;
  font-weight: bold;
}
.modal_more_info_text {
  font-size: 10px;
  padding-left: 5px;
}
.close_symbol {
  color: white;
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 100px;
}
.bookmark_button {
  background-color: #5aad8d;
  padding: 10px;
  color: white;
  border-radius: 50px;
  margin-right: 10px;
}
.bookmark_button:hover {
  outline: none;
  background-color: #6c757d;
}
.close_symbol:hover {
  outline: none;
}
.bookmark_container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  margin-right: 10px;
  border-bottom: 1px solid grey;
}
.modal_date {
  margin-top: 12px;
  margin-left: 10px;
}

.btn-secondary {
  background-color: #5aad8d;
  border: none;
}
/* card flip */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 250px;
  border: none;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  border: none;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #5aad8d;
  transform: rotateY(180deg);
  border: none;
}
.card-back-text {
  font-size: 12px;
}

.card_back_footer {
  bottom: 0;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.content-user-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 3px; */
}

.left-user-edit {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 490px;
  width: 400px;
  padding: 40px;
  margin: 30px 50px 40px 0px;
  border: 2px solid #5fa0f8;
  border-radius: 4%;
  font-size: medium;
}

.right-user-edit {
  height: 490px;
  width: 400px;
  padding: 40px;
  margin: 30px 50px 40px 0px;
  border: 2px solid;
  border-radius: 4%;
  border: 2px solid #5fa0f8;
}

.notices-user-edit {
  color: grey;
  font-size: 10px;
}

.blossom {
  height: 490px;
  width: 400px;
  padding: 40px;
  margin: 30px 50px 40px 0px;
}

.signup-user-edit {
  margin-top: 10;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-two-user-edit {
  font-size: large;
  /* font-style: bold; */
  font-weight: 50%;
  border-radius: 8%;
  opacity: 90%;
  background-color: cornflowerblue;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border-color: pink;
  height: 490px;
  width: 400px;
  padding: 40px;
  margin: 30px 50px 40px 0px;
}
