// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

ul {
  list-style-type: none;
}

.bookmark-list {
  font-size: 30px;
  display: flex;
  margin: 10px
}

.bookmark {
  border: 2px solid #5aad8d;
  border-radius: 4%;
  width: 30rem;
  justify-content: center;
  margin-top: 50px;
  margin-left: 470px;;

}

.padding {
  margin-left: 20px;
}

@media only screen and (max-width: 1024px) {
  .bookmark {
    border: 2px solid ;
    border-radius: 4%;
   
  }
}

