.styles_wrapper__1kG3C {
    background-color: ghostwhite ;
}

.styles_gridItem__nPXhF figcaption {
    display: block;
    padding: .625rem .5rem;
    background: #5AAD8D;
    color: black;
}

@media only screen and (max-width: 1024px) {
.styles_grid__1mw-l{
      display: flex;
      flex-direction: column;
    }
  }

