
<div class="btn-group mr-3">

  <button type="button" class="account_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 <img src="../assets/account_icon.svg" class="account_icon">
  </button>
  <div class="dropdown-menu dropdown-menu-left">
    <!-- Dropdown menu links -->
    <% if user_signed_in? %>
      <%= link_to "Account", edit_user_registration_url, class: "dropdown-item" %>
      <%= link_to "Sign Out",  destroy_user_session_path(), 
                method: :delete,
                class: "dropdown-item" %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path,
                method: :get,
                class: "dropdown-item" %>
    <% end %>
    <% if user_signed_in? && current_user.admin? %>
      <div class="dropdown-divider"></div>
      <%= link_to "Admin", admin_root_path,
                method: :get,
                class: "dropdown-item" %>
    <% end %>
  </div>
</div>